.App {
  text-align: center;
  background-color: darkgray;
  padding: 20px;
  min-height: 100vh;
}

.letras {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}

.letra {
  font-size: 40px;
  padding: 20px;
  border: 4px solid #f6f4f4;
  background-color: #61dafb;
}

.componente2 {
  border: 2px solid black;
  padding: 30px; 
}

.componente2 input {
  height: 45px;
  width: 200px;
  border: 2px;
}

.componente3 {
  border: 2px solid black;
  padding: 30px; 
}

.componente2, .componente3{
  margin: 40px;
}